validate_test.py
results/*
!results/train/ANP/ANP_azi180/*
!results/train/ANPShapeNet1D/ANP_ShapeNet1D/*
!results/train/CNPDistractor/CNP_max_Distractor/*
.idea/
test/results/*
image_gen/__pycache__/*
dataset/refinement/__pycache__/*
__pycache__/*
dataset/__pycache__/*
evaluator/__pycache__/*
configs/__pycache__/
trainer/__pycache__/
networks/__pycache__/*
networks/performer_pytorch/__pycache__/*
image_gen/__oycache__/*
utils/__pycache__/*
objective/__pycache__/*
networks/shapenet/__pycache__/
networks/bbb/__pycache__/
dataset/refinement

